@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
:root {
  --background-light: #f7fafc; /* Define the background-light variable */
  --background-dark-0: rgba(0, 0, 0, 0); /* Define the background-dark variable */
  --background-dark-1: rgb(0, 0, 0); /* Define the background-dark variable */
  --background: var(--background-light);
  --background-color: white;
  --text-color: black;
  --border-color: black;
  --outline-color: black;
  --shadow-color-light-1: rgba(0, 0, 0, 0.3);
  --shadow-color-light-2: rgba(0, 0, 0, 0.5);
  --shadow-color-dark-1: rgba(255, 255, 255, 0.3);
  --shadow-color-dark-2: rgba(255, 255, 255, 0.5);
}

html {
  @apply bg-background-light;
}

html {
  @apply bg-[var(--background)];
}

[data-theme='dark'] {
  --background: var(--background-dark-0);
  --background-color: var(--background-dark-0);
  --text-color: white;
  --border-color: white;
  --outline-color: white;
  --shadow-color-1: var(--shadow-color-dark-1);
  --shadow-color-2: var(--shadow-color-dark-2);
}

[data-theme='light'] {
  --background: var(--background-light);
  --background-color: bg-gray-200;
  --text-color: black;
  --border-color: black;
  --outline-color: black;
  --shadow-color-1: var(--shadow-color-light-1);
  --shadow-color-2: var(--shadow-color-light-2);
  .choice-button:hover {
    background-color: var(--text-color);
    color: var(--background-light);
  }
}

.main-content {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
}

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  /*height: 80%;*/
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  backdrop-filter: blur(80px);
  /*border: 1px solid var(--border-color);*/
  border-radius: 10px;
  overflow-y: auto;
  max-height: 400px;
}

.history-container::-webkit-scrollbar {
  width: 20px;
}

.history-container::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 6px solid rgba(0, 0, 0, 0);
  box-shadow: 8px 0 0 #A5ADB7 inset;
}

.history-container::-webkit-scrollbar-thumb:hover {
  box-shadow: 8px 0 0 #4A4A4A inset;
}


.history-item {
  margin-bottom: 10px;

}

.scene-text {
  opacity: 0;
  animation: fadeIn 4s forwards; /* 动画设置为 1s */
  opacity: 0;
  animation: fadeIn 3s forwards; /* 动画设置为 1s */
}

.game-container {
  max-width: 100%;
  width: 100%;
  padding: 20px;
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.scene-text {
  margin-bottom: 20px;
  line-height: 1.5;
  text-shadow: 10px 7px 3px var(--shadow-color-1);
  color: var(--text-color);
  text-wrap: pretty;
}

.effect-aaa {
  animation: glitch 2s infinite;
  display: inline-block;
  color: red;
}

@keyframes glitch {
  0% {
    opacity: 1;
    transform: translateX(0) skewX(0deg) rotate(0deg);
    color: var(--text-color);
  }
  10% {
    opacity: 0.5;
    transform: translateX(-5px) skewX(5deg) rotate(2deg);
    color: rgba(255, 0, 0, 0.7); /* 变化为红色 */
  }
  20% {
    opacity: 1;
    transform: translateX(3px) skewX(-10deg) rotate(-2deg);
    color: rgba(0, 255, 0, 0.7); /* 绿色 */
  }
  30% {
    opacity: 0.3;
    transform: translateX(-10px) skewX(10deg) rotate(10deg);
    color: rgba(0, 0, 255, 0.7); /* 蓝色 */
  }
  40% {
    opacity: 1;
    transform: translateX(5px) skewX(-5deg) rotate(0deg);
    color: var(--text-color); /* 恢复默认颜色 */
  }
  50% {
    opacity: 0.6;
    transform: translateX(0) skewX(0deg) rotate(0deg);
    color: rgba(255, 255, 255, 0.7); /* 亮白色 */
  }
  60% {
    opacity: 1;
    transform: translateX(7px) skewX(10deg) rotate(5deg);
    color: rgba(255, 0, 255, 0.8); /* 紫色 */
  }
  70% {
    opacity: 0.4;
    transform: translateX(-5px) skewX(-10deg) rotate(-5deg);
    color: rgba(255, 255, 0, 0.7); /* 黄色 */
  }
  80% {
    opacity: 0.8;
    transform: translateX(3px) skewX(5deg) rotate(8deg);
    color: rgba(255, 165, 0, 0.7); /* 橙色 */
  }
  90% {
    opacity: 1;
    transform: translateX(0) skewX(0deg) rotate(0deg);
    color: var(--text-color);
  }
  100% {
    opacity: 0.2;
    transform: translateX(0) skewX(0deg) rotate(0deg);
    color: rgba(0, 0, 0, 0.5); /* 黑色 */
  }
}

.choices {
  margin: 20px 0;
  cursor: pointer;
}

.choice-text {
  font-size: 0.875rem;
  color: gray;
}

.choice-button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.choice-button:hover {
  background-color: var(--text-color);
  color: var(--background-dark-1);
}

/* 游戏容器样式 */
.game-container {
  position: relative;
  padding: 20px;
}

/* 按钮初始样式 */
.start-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* 按钮移动后的样式 */
.start-button.moved {
  transform: translateY(-100px); /* 让按钮上移 */
  opacity: 0; /* 按钮消失 */
}

/*平滑移动*/

.scene-text.transitioning {
  animation: moveText 1s forwards;
}

@keyframes moveText {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.choice-button.transitioning {
  animation: fadeOut 0.5s forwards, fadeIn 0.5s 0.5s forwards;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 定义光标的闪烁效果 */
.cursor {
  margin-left: 8px;
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.icon-style {
  color: var(--outline-color);
  opacity: 0.8;
  transition: opacity 0.3s;
}

.icon-style:hover {
  opacity: 1;
}



